# Pythonの基本

この練習ではPythonの基本を学習する。

## 1. 型

pythonではすべての型をオブジェクトとして実装している。
オブジェクトには数値や文字列、bool値のデータ型があり変更できるデータを**ミュータブル**、変更できないデータを**イミュータブル**と呼ぶ。

In [9]:
print (1)
type(1)

1

int

In [10]:
print ("abc")
type("abc")

abc

str

## 2. 変数
変数とはオブジェクトの名前にあたる。値自体ではなく値の参照である。

In [1]:
a=1
b=2
print (a)
a=b
print (a)

1
2

### 2.1. 変数の命名規約
大文字と小文字は区別され、数字は先頭文字としては使えない。また、先頭がアンダースコア"_”の名前は特別扱いされるため意味がない命名は極力避ける。
変数名として使用できる文字は以下のとおり。
- 小文字の英字[a-z]
- 大文字の英字[A-Z]
- 数字[0-9]
- アンダースコア[_]

### 2.2.予約語
以下の名前はPythonで使用するため、変数名には指定できない。
 
<table align="left" border="1px" cellpadding="1px">
    <tr>
        <td>False</td>
        <td>class</td>
        <td>finally</td>
        <td>is</td>
        <td>return</td>
    </tr>
    <tr>
        <td>None</td>
        <td>continue</td>
        <td>for</td>
        <td>lambda</td>
        <td>try</td>
    </tr>
    <tr>
        <td>True</td>
        <td>def</td>
        <td>from</td>
        <td>nonlocal</td>
        <td>while</td>
    </tr>
    <tr>
        <td>and</td>
        <td>del</td>
        <td>global</td>
        <td>not</td>
        <td>with</td>
    </tr>
    <tr>
        <td>as</td>
        <td>elif</td>
        <td>if</td>
        <td>or</td>
        <td>yield</td>
    </tr>
    <tr>
        <td>assert</td>
        <td>else</td>
        <td>import</td>
        <td>pass</td>
        <td>break</td>
    </tr>
    <tr>
        <td>except</td>
        <td>in</td>
        <td>raise</td>
    </tr>
</table>

## 3. 数値
数値のデータ型には整数intと浮動小数点数floatを扱うことができる。
Python2ではintのサイズは32ビットに制限されており、それ以上のサイズについてはlongの64ビットで対応することになっていたが、Python3ではlongがデータ型からなくなりintは64ビットより大きな数値表現ができるようになった。

In [9]:
int(1)

1

In [10]:
int(1.0)

1

In [11]:
float(1)

1.0

In [12]:
float(1.0)

1.0

In [18]:
1.0e4

10000.0

In [16]:
type(1)

int

In [14]:
type(1.0)

float

### 3.1.算術演算子
数値の計算に必要な演算子については以下のようなものがある。
計算式の優先順位は他の言語同様に加減算より乗除算の方が先に計算される。
 
<table align="left" border="1px" cellpadding="1px">
    <tr align="left">
        <th>演算子</th>
        <th>意味</th>
        <th>例</th>
        <th>結果</th>
    </tr>
    <tr align="left">
        <td>+</td>
        <td>加算</td>
        <td>5 + 8</td>
        <td>13</td>
    </tr>
    <tr align="left">
        <td>-</td>
        <td>減算</td>
        <td>90 - 10</td>
        <td>80</td>
    </tr>
    <tr align="left">
        <td>\*</td>
        <td>乗算</td>
        <td>4 \* 7</td>
        <td>28</td>
    </tr>
    <tr align="left">
        <td>/</td>
        <td>除算</td>
        <td>7 / 2</td>
        <td>3.5</td>
    </tr>
    <tr align="left">
        <td>//</td>
        <td>除算(切捨て)</td>
        <td>7 // 2</td>
        <td>3</td>
    </tr>
    <tr align="left">
        <td>%</td>
        <td>剰余</td>
        <td>7 % 3</td>
        <td>1</td>
    </tr>
    <tr align="left">
        <td> \*\* </td>
        <td>指数</td>
        <td>3 **** 4</td>
        <td>81</td>
    </tr>
</table>

異なる数値型を混ぜて使用するとPythonが自動的に変換する。以下では9/3で3.0になるため、5と足した時に桁数の大きいほうに合わせている。

In [2]:
5+9/3

8.0

商と剰余をまとめて取得するにはdivmod関数を使用すると便利。

In [3]:
9%5

4

In [4]:
divmod(9,5)

(1, 4)

### 3.2.基数
整数は、プレフィックスで特に基数を指定しない場合、10進数と見なされる。
Pythonでは10進数以外に3種類の基数を使ってリテラルを整数を表すことができる。
- 0b,0Bは2進数
- 0o,0Oは8進数
- 0x,0Xは16進数

In [6]:
0b10

2

In [7]:
0o10

8

In [8]:
0x10

16

## 4. 文字列
文字列は文字のシーケンスであり、Pythonの文字列はイミュータブル（書き換え不可）のオブジェクトである。ただし、文字列およびその部分文字列をコピーして操作することができる。

文字列はシングルクォートかダブルクォートで文字を囲むかstr関数を使用する。

In [19]:
'python'

'python'

In [20]:
"python"

'python'

In [38]:
a=str(1.0e10)
print(a)
print(type(a))

10000000000.0
<class 'str'>

どちらかのクォートに含めることもできる。

In [23]:
"'Hellow,' python."

"'Hellow,' python."

複数行文字列にはクォートを3個連続で使用する。

In [30]:
sentence="""あいうえお
かきくけこ
さしすせそ
    ※行頭からの空白は文字として扱われる"""
print(sentence)

あいうえお
かきくけこ
さしすせそ
    ※行頭からの空白は文字として扱われる

エスケープ文字については他の言語同様に、特定の文字の前にバックスラッシュ"\"を入れることで表現できる。

In [34]:
sentence="あいう\nえお"
print(sentence)

あいう
えお

### 4.1.文字列操作

文字列の連結には+演算子を使用する。

In [44]:
a='abc'
b='def'

c= a + b
print(c)

a+=b
print(a)

abcdef
abcdef

文字列の繰り返しには\*演算子を使用する。

In [45]:
word='hoge'*3
print(word)

hogehogehoge

文字列から文字を抽出するにはオフセットを指定する。"-"を使用すると文字列の逆から抽出される。

In [46]:
sentence='1234567890'
print(sentence)

1234567890

In [50]:
sentence[0]

'1'

In [51]:
sentence[-1]

'0'

ちなみに文字列はイミュータブルなので直接文字を書き換えるような操作はエラーになる。

sentence[0]='a'

文字列から部分文字列を抽出するには**スライス**を使用する。
 
** 文字列\[start:end:step\] **

- \[:\]は、先頭から末尾までのシーケンス全体を抽出。

In [1]:
sentence="1234567890"
print(sentence[:])

1234567890

- \[start: \]は、startオフセット(0番目から開始)から末尾までのシーケンスを抽出。

In [2]:
print(sentence[1:])

234567890

- \[:end\]は、先頭からend-1オフセットまでのシーケンスを抽出。

In [3]:
print(sentence[:2])

12

- \[start:end\]は、startオフセットからend-1オフセットまでのシーケンスを抽出。

In [5]:
print(sentence[3:6])

456

- \[start:end:step\]は、stepごとのstartオフセットからend-1オフセットまでのシーケンスを抽出。

In [7]:
print(sentence[0:-2:2])

1357

### 4.2.その他の文字列操作
以下の操作もよく行うので合わせて覚えておく。
 
<table align="left" border="1px" cellpadding="1px">
    <tr align="left">
        <th>概要</th>
        <th>関数</th>
        <th>例</th>
        <th>結果</th>
        <th>備考</th>
    </tr>
    <tr align="left">
        <td>シーケンスの長さの取得</td>
        <td>len\(sequece\)</td>
        <td>len\("12345"\)</td>
        <td>5</td>
        <td> </td>
    </tr>
    <tr align="left">
        <td>文字列から配列の取得</td>
        <td>文字列.split\(separator\)</td>
        <td>"1,2,3,4,5".split\(','\)</td>
        <td>\['1','2','3','4',5'\]</td>
        <td>セパレータを使用しない場合は空白文字(改行、タブ、スペース)を使用</td>
    </tr>
    <tr align="left">
        <td>分割文字配列の取得</td>
        <td>文字列.split(',')</td>
        <td>"1,2,3,4,5".split\(','\)</td>
        <td>\['1','2','3','4',5'\]</td>
        <td>セパレータを使用しない場合は空白文字(改行、タブ、スペース)を使用</td>
    </tr>
</table>